<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

    
    <div class="operations">

        <button (click)="addContact()" title="Add contact" class="operation-btn"><i class='fas fa-user-plus'></i></button>
        <button (click)="editContact()" title="Edit" class="operation-btn"><i class='fas fa-user-edit'></i></button>
        <button (click)="sort()" title="Sort" class="operation-btn"><i class='fas fa-sort-amount-down'></i></button>
        <button (click)="deleteContact()" title="Delete" class="operation-btn"><i class='far fa-trash-alt'></i></button>
        <input type="text" class="operation-search" placeholder="Search.." id="search">
        <button (click)="search()" class="search-button" title="Search"><i class="fa fa-search"></i></button>
    
    </div>

    <div *ngIf="popAdd" class="pop">
        <br><br>
        <label style="margin-left: 4%;">Contact name: </label>
        <input type="text" name="" id="contact-name">
        <br><br>
        <label style="margin-left: 4%;">Email: </label>
        <input type="text" name="" id="email-name">
        <br><br>
        <button (click)="add()" style="margin-left: 25%; width: 20%;">Add</button>
    </div>

    <div *ngIf="popDel" class="popp">
        <br><br>
        <label style="margin-left: 4%;">contact number: </label>
        <input type="text" name="" id="contact-number">
        <br><br>
        <button (click)="delete()" style="margin-left: 25%; width: 20%;">Delete</button>
    </div>

    <div *ngIf="popEdit" class="poppp">
        <br><br>
        <label style="margin-left: 4%;">Contact number: </label>
        <input type="text" name="" id="contact-numberr">
        <br><br>
        <label style="margin-left: 4%;">Rename: </label>
        <input type="text" name="" id="contact-rename">
        <br><br>
        <label style="margin-left: 4%;">Add Email: </label>
        <input type="text" name="" id="contact-addEmail">
        <br><br>
        <label style="margin-left: 4%;">Remove Email: </label>
        <input type="text" name="" id="contact-remove">
        <br><br>
        <button (click)="edit()" style="margin-left: 25%; width: 20%;">Edit</button>
    </div>

    <div class="member-entry" *ngFor="let contact of contacts"> 
        <a class="member-img"> 
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded"> 
            <i class="fa fa-forward"></i> 
        </a> 
        <div class="member-details"> 
            <h4 style="margin-left: 2%;"> {{contact.name}} </h4> 
            <div class="row info-list"> 
                <div class="col-sm-4" *ngFor="let email of contact.lights" style="margin-left: 2%;"> 
                    <i class="fa fa-envelope"></i> 
                    {{email}}
                </div> 
            </div> 
        </div> 
    </div>

</div>

















































<!-- <div class="acontainer">



    <main>
        <table border="1">
            <thead>
                <tr>
                    <th>Contact</th>
                    <th>Emails</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of contacts">
                    <td>{{group.name}}</td>
                    <td *ngFor="let light of group.lights">{{light}}</td>
                </tr>
            </tbody>
        </table>
    </main>

    

     <div class="contacts-container">
        <ul>
            <li class="headline" *ngFor="let group of contacts">
            {{group.name}}
            <button class="operation-btn-email"><i class='fas fa-user-edit'></i></button>
            <button class="operation-btn-email"><i class='far fa-trash-alt'></i></button>
            <ul>
                <li style="margin-top: 2%;" class="emails" *ngFor="let light of group.lights">
                {{light}}
                <button class="del"><i class='far fa-trash-alt'></i></button>
                </li>
            </ul>
            </li>
        </ul>
    </div> -->


<!-- </div> -->

    <!-- --> -->
